<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:inline="javascript">

        var app = $("#box");
        console.log(app.find("[blnum]").val());

        //현재 년도
        var now = new Date();
        var nowYear = now.getFullYear();

        const add_input = () => {
            const box = document.getElementById("box");
            const newDiv = document.createElement('div');
            newDiv.innerHTML = "\
                <select name = 'blYy'>\
                    <option value = '"+(nowYear+1)+"'>"+(nowYear+1)+"</option>\
                    <option value = '"+nowYear+"'  selected>"+nowYear+"</option>\
                    <option value = '"+(nowYear-1)+"'>"+(nowYear-1)+"</option>\
                    <option value = '"+(nowYear-2)+"'>"+(nowYear-2)+"</option>\
                </select>\
                <input type='text' name='hblNo'>\
                <input type='button' value='삭제' onclick='remove(this)'>";
            box.appendChild(newDiv);
        }
        const remove = (obj) => {
            document.getElementById('box').removeChild(obj.parentNode);
        }

        window.onload = function() {
            console.log(cargCsclPrgsInfoQryRtnVoTag);
        };

    </script>
</head>
<body id = "testApp">
<script type="text/javascript" src="./js/bootstrap.js"></script>
<form th:action = "@{/test}" th:object="${hblForm}" action="#" id="blForm" method="post">
    <div id="box">
        <div>
            <select th:field="*{blYy}">
                <option th:value="*{blYy}" selected th:text="*{blYy}"></option>
            </select>
            <input type="text" th:field="*{hblNo}" value="test" blnum>
        </div>
    </div>
    <div>
        <input type="button" value="추가" onclick="add_input()">
    </div>
    <div>
        <button type="submit">제출</button>
    </div>
</form>
</body>
</html>